<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registered Services</title>
    <link rel="stylesheet" href="styles/styles.css">
</head>

<body>
    <h1>Registered Services</h1>
    <div class="services-container">
        <% frontend_services.forEach(function(service) { %>
            <div class="service-card frontend">
                <h2>Frontend Service</h2>
                <strong>ID:</strong>
                <%= service._id %><br>
                    <strong>URL:</strong> <a href="<%= service.url %>" target="_blank">
                        <%= service.url %>
                    </a>
                    <div class="register-time">
                        <strong>CreatedAt At:</strong>
                        <%= new Date(service.createdAt).toLocaleString() %><br>
                            <strong>Last Heartbeat:</strong>
                            <%= new Date(service.lastHeartbeat).toLocaleString() %><br>
                    </div>
            </div>
            <% }) %>
                <% backend_services.forEach(function(service) { %>
                    <div class="service-card backend">
                        <h2>Backend Service</h2>
                        <strong>ID:</strong>
                        <%= service._id %><br>
                            <strong>Documentation:</strong> <br><a href="<%= service.url %>" target="_blank">
                                <%= service.url %>
                            </a><br>
                            <strong>Endpoints:</strong>
                            <ul>
                                <% service.endpoints.forEach(function(endpoint) { %>
                                    <li>
                                        <%= endpoint %>
                                    </li>
                                    <% }) %>
                            </ul>
                            <div class="register-time">
                                <strong>CreatedAt At:</strong>
                                <%= new Date(service.createdAt).toLocaleString() %><br>
                                    <strong>Last Heartbeat:</strong>
                                    <%= new Date(service.lastHeartbeat).toLocaleString() %><br>
                            </div>
                    </div>
                    <% }) %>
    </div>
</body>

</html>